{% extends 'baseFront.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 100px;">
    <main>
        <!-- Message d'alerte -->
        {% for message in app.flashes('alertCreate') %}
        <div class="alert alert-info alert-dismissible fade show">
            <strong> <i class="fa fa-circle-exclamation"></i> Info! </strong>
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></span>
        </div>
        {% endfor%}
        <div class="py-2 text-center">

            <h2>Connexion</h2>
            <p class="lead">Veuillez vous connectez sur votre espace de travail pour faire une reservation de cours </p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 col-12 order-md-last d-none d-md-block">
                <img class="Image reservation" style="height: 250px;"
                    src="{{asset('frontEnd/assets/images/programme1.jpeg')}}">
            </div>
            <div class=" col-lg-3 col-12"></div>
            <div class="col-md-6 col-lg-4 col-12">
                <form method="post">
                    {% if error %}
                    <div class="alert alert-warning alert-dismissible fade show">
                        <strong> <i class="fa fa-circle-exclamation"></i> Alert! </strong>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></span>
                    </div>
                    {% endif %}

                    {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                            href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    {% endif %}

                    <div class="form-check">
                        <label for="inputEmail">Votre email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                            class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="form-check">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                            autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <div class="form-check">
                        <br>
                        <p>Avez-vous un compte ?<a href="{{ path('app_etudiant_new') }}">Inscription</a>.
                        </p>

                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </main>


</div>
{% endblock %}