{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Tableau de bord</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href=""><i class="feather icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Liste de mes reservations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    {% for message in app.flashes('alertCreate') %}
                    <div class="alert alert-info alert-dismissible fade show">
                        <strong> <i class="fa fa-circle-exclamation"></i> Info! </strong>
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></span>
                    </div>
                    {% endfor%}
                    <div class="card-header">
                        <h5> Table</h5>
                        <span class="d-block m-t-5">Liste des reservations</span>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Heure</th>
                                        <th>Created_at</th>
                                        <th>Status</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                    <tr>
                                        <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') :
                                            ''
                                            }}</td>
                                        <td>{{ reservation.heureReservation ? reservation.heureReservation|date('H:i') :
                                            '' }}
                                        </td>
                                        <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}
                                        </td>
                                        <td>{% if reservation.status==2 %}En attente {% elseif reservation.status==1 %}
                                            Validé {% elseif reservation.status==0%} Réjeté {% endif %}</td>
                                        <td>
                                            {% if reservation.status==2 %}
                                            <a
                                                href="{{ path('app_reservation_acceptation', {'id': reservation.id,'action':1}) }}"><i
                                                    class="feather icon-check-circle"></i></a>
                                            |
                                            <a
                                                href="{{ path('app_reservation_acceptation', {'id': reservation.id,'action':0}) }}"><i
                                                    class="feather icon-x-circle text-danger"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="7">no records found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}